.not-found {
    background-color: black;
    background-image: url("./background/blackWoods.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100wh;
}

.error {
    font-size: 500px;
    color: white;
    line-height: 500px;
}

.error-text {
    font-size: 90px;
    color: white;
    line-height: 0;
}

.not-found-page-text {
    margin-top: 75px;
}

.not-found-btn-wrapper {
    margin: 0 auto;
    width: 400px;
    height: 100px;
}