.wood {
    width: 330px;
    height: auto;
}

.wood-img-wrapper {
    margin: 0 auto;
    width: 230px;
    height: 230px;
    border: solid yellow 3px;
    background-color: brown;
}

.wood-info-item {
    margin-top: 5px;
}

.wood-info-item:first-of-type {
    margin-top: 25px;
}